@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --font-size: 18px;
  --font-family: "Rubik", sans-serif;
  --fw1: 400;
  --fw2: 500;
  --fw3: 700;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.App {
  height: 100vh;
}

.leaflet-container {
  height: 60%;
  z-index: 3;
}

@media screen and (min-width: 950px) {
  .input-container {
    width: 50%;
  }

  .info-container {
    width: 80%;
  }
}
